.button {
    text-transform: uppercase;
    text-decoration: none !important;
    color: white;
    background-color: #4FC0D8 !important;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    justify-content: center;
	padding: 1.3rem 2rem;
    

    &:active {
        outline: 0;
    }

    &::before {
        border-radius: .5rem;
    }
    
    
}

.button-shadow {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 8px 24px rgba(#202B36, .12);
        mix-blend-mode: multiply;
        transition: box-shadow .15s ease;
    }

    &:hover {

        &::before {
            box-shadow: 0 8px 24px rgba(#202B36, .25);
        }
    }
}

.button-sm {

    padding: 0.8rem 2.4rem;
    height: 3.2rem;
    
    
}

