.button {
    display: inline-flex;
   
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none !important;
    color: white;
    background-color: #8056E0 !important;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    justify-content: center;
    padding: 1.6rem 3.2rem;
	height: 4.8rem;
    text-align: center;
    white-space: nowrap;

    &:active {
        outline: 0;
    }

    &::before {
        border-radius: .5rem;
    }
    
    
}

.button-shadow {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 8px 24px rgba(#202B36, .12);
        mix-blend-mode: multiply;
        transition: box-shadow .15s ease;
    }

    &:hover {

        &::before {
            box-shadow: 0 8px 24px rgba(#202B36, .25);
        }
    }
}

.button-sm {

    padding: 0.8rem 2.4rem;
    height: 3.2rem;
    
    
}

