header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/bg_.svg');

    .header-brand{
        width: 70%;
        margin: auto;
        height: 10vh;
        line-height: 10vh;
        h2{
           font-size: 2.5rem;
            margin: 0;
            padding: 0;
            color: white;
        }
        
    }

    .header-content{
        color: white;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            margin: 0;
            width: 70rem;
            text-align: center;
        }
        p{
            line-height: 3rem;
            margin-top: 2.5rem;
            width: 70rem;
            text-align: center;
        }
    }
    
}

.signup{
    margin-top: 2rem;
    input{
        height: 4rem;
        width: 25rem;
        border: none;
        border-radius: 0.4rem;
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    input::placeholder {
        color: #B0BEC5;
    }
    input:focus {
        outline: none;
        box-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
    }
    button{
        height: 4rem;
        margin-top: 0;
        margin-left: 1rem;
    }
}


@include media("<=700px") {
    header{
        .header-content{
            h2{
                width: 35rem;
                margin: 0 auto;
            }
            p{
                width: 30rem;
            }
           
        }

        .signup{
            display: flex;
            flex-direction: column;
            button{
                width: 25rem;
                margin-top: 2rem;
                margin-left: 0;
                text-align: center;
            }
        }
    }
    

    
}