.header{
    height: 9vh;
    
    

    
    img{
        margin-top: 1rem;
        width: 10rem;
    }
}

.margin{
    width: 80vw;
    margin: auto;
}

.mobbid-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 91vh;
}

.tip-header{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    font-style: normal;
    
}

.tip-bottom{
    font-family: 'Nunito', sans-serif;
    width: 50rem;
    
}

.main-copy{
    margin-top: 3rem;
    width: 95rem;
    font-size: 6rem;
    font-family: 'Nunito', sans-serif;
}

.white{
    color: white;
}

@include media("<=700px") {
    .main-copy{
        font-size: 4rem;
        width: 50rem;
    }

    .tip-header{
        
        font-size: 1.3rem;
        
        
    }

    .tip-bottom{
        font-family: 'Nunito', sans-serif;
        width: 40rem;
        
    }
}

@include media("<=500px") {
    .main-copy{
        font-size: 3rem;
        width: 40rem;
    }

    .tip-header{
        
        font-size: 1.3rem;
        
        
    }

    .tip-bottom{
        font-family: 'Nunito', sans-serif;
        width: 40rem;
        
    }
}


@include media("<=400px") {
    .main-copy{
        font-size: 3rem;
        width: 35rem;
    }

    .tip-header{
        
        font-size: 1.3rem;
        
        
    }

    .tip-bottom{
        font-family: 'Nunito', sans-serif;
        width: 30rem;
        
    }
}